body {
    box-sizing: border-box;
    background-color: rgb(240, 14, 14);
    display: flex;
    align-items: center;
}

#time {
    display: flex;
}

/* Stile dei cerchi */
#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    transform: translate(5px, 5px);
}

#time .circle svg circle.bg {
    stroke: #00ffff; /* Colore di background */
}

#time .circle svg circle#progress {
    stroke: #e0e0e0; /* Colore del cerchio animato */
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 1s linear; /* Aggiungi transizione */
}

/* Testo timer */
#time .seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2em;
}

#time .seconds .span {
    font-size: 0.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 3px; /* Aggiunge spazio sotto lo span */
}

#time .seconds #timerSeconds {
    font-size: 2em;
    margin: 5px 0; /* Aggiunge spazio sopra e sotto il numero */
}

/* Puntino nel cerchio */
#time .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    transform-origin: center;
}

#time .dots::before {
    content: "";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--crl);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--crl), 0 0 60px var(--crl);
}
