/* *********************************************************style per tutte le pagine******************************************************************************************* */

body {
  height: 100%;
  width: 100%;
  background-image: url(/assets/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10em;
  margin-top: 3em;
  padding-bottom: 5em;
}

.containerMargin {
  width: 1000px;
  height: 100vh;
  margin: auto;
}

.social-menu {
  margin-top: 70%;
  float: right;
  position: sticky;
  bottom: 5%;
}

.social-menu ul {
  /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3em;*/
  display: flex;
  /*margin-left: 100%;*/
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa-brands {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa-brands:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #0077b5;
}

/* *******************************************************************WELCOME PAGE************************************************************************************************************************ */

.titoloWP {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 60px;
}

#titoloWPBold {
  font-weight: bolder;
}

#instructions {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #c70091;
  font-weight: bolder;
  padding-top: 1em;
  font-size: 35px;
  padding-bottom: 0.5em;
}

#checkboxWP,
#checkboxEasy,
#checkboxMedium,
#checkboxHard {
  accent-color: transparent;
}

.textWP,
.liWP,
#checkWP,
.checkWP,
.textFB {
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
}

.liWP {
  line-height: 35px;
  font-weight: 300;
}

.textWP {
  line-height: 20px;
  font-weight: 300;
}

main > .textWP {
  padding-bottom: 2.5em;
}

.list {
  margin-top: 30px;
}

ul {
  margin-left: 20px;
}

.boldWP {
  font-weight: 700;
}

#checkWP,
.checkWP {
  font-weight: 600;
}

label {
  margin-right: 1rem;
}

#divCheckbox,
.divCheckbox {
  display: inline-block;
  border: 2.5px solid white;
  width: 13px;
  height: 13px;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.fa-check {
  color: white;
  font-size: 10px;
  display: none;
}

#labelWP,
.labelWP {
  display: flex;
  align-items: center;
}
#checkboxWP,
#checkboxEasy,
#checkboxMedium,
#checkboxHard {
  display: none;
}

#sectionCheckboxWP,
.sectionCheckboxWP {
  display: inline-block;
  margin: 4rem 0;
}

#buttonJs {
  display: inline-block;
  margin-left: 10rem;
}

/* ****************************************style difficulty****************************************** */
#sectionDifficulty {
  display: inline-block;
  margin-left: 20%;
}

.h1Difficulty {
  text-align: center;
}

.displayBlock {
  display: block;
}

.difficultybtn {
  vertical-align: 85px;
}

#sectionDifficultyCenter {
  margin: auto;
}

/* *****************************************************************STYLE BOTTONI DI TUTTE LE PAGINE*********************************************************************************************** */

.styleButton,
.buttonRate:hover,
.Abilitato:hover,
#resFeedback a:hover {
  background-color: #00ffff;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  text-align: center;
  padding: 0 5rem;
  box-shadow: 1px 1px 20px #00ffff;
}

.styleButtonUnchecked,
.buttonRate,
#resFeedback a,
.buttonFeedbackDisabilitato {
  height: 60px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0 5rem;
  border: 2.5px solid white;
  background-color: transparent;
  color: rgb(248, 242, 242);
  cursor: not-allowed;
}

/* **************************************************************QUESTION PAGE**************************************************************************************************************************** */

/* ***************************************TIMER****************************************************** */

#time {
  position: absolute;
  top: 12.5%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

/* Stile dei cerchi */
#time .circle {
  position: relative;
  width: 100px;
  height: 100px;
}

#time .circle svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
  /* Rotazione corretta */
  filter: drop-shadow(0px 0px 17px #000000);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 10;
  transform: translate(0, 0);
  /* Centra il cerchio */
}

#time .circle svg circle.bg {
  stroke: #00ffff;
  /* Colore di background */
  text-shadow: 5px 5px 48px 0px #000000;
}

#time .circle svg circle#progress {
  stroke: #996a9d;
  /* Colore del cerchio animato */
  stroke-dasharray: 282.74;
  stroke-dashoffset: 282.74;
  transition: stroke-dashoffset 1s linear;
  /* Aggiungo transizione */
}

/* Testo timer */
#time .seconds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
  font-size: 2.2em;
  text-align: center;
}

.span {
  font-size: 0.18em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

#time .seconds #timerSeconds {
  font-size: 1em;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Puntino nel cerchio */
#time .dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: center;
}

#time .dots::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #00ffff;
  border-radius: 50%;
}

.containerQuestion {
  text-align: center;
}

.questionBenchmark,
.answerBenchmark {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  margin-bottom: 8%;
  margin-top: 5%;
  line-height: 1.3;
}

.questionBenchmark {
  font-size: 40px;
}

.answerBenchmark {
  font-size: 16px;
}

/*** QUESTION CSS ***/
.numeroDomanda {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 15%;
}

/*** BOTTONI QUESTION PAGE ***/

#contenitoreRisposte {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btnRisposta {
  background-color: rgba(165, 165, 165, 0.315);
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.904);
  border-left: #ffffff;
  border-right: hidden;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
  padding: 2vh;
  border-radius: 10vh;
  flex: 1 1 40%;
  max-width: 35%;
  margin: 5px;
}

.btnColoreViola:hover {
  background: rgb(92, 0, 66);
  background: -moz-linear-gradient(0deg, rgba(92, 0, 66, 0.9669117647058824) 0%, rgba(233, 0, 157, 0.9332983193277311) 100%);
  background: -webkit-linear-gradient(0deg, rgba(92, 0, 66, 0.9669117647058824) 0%, rgba(233, 0, 157, 0.9332983193277311) 100%);
  background: linear-gradient(0deg, rgba(92, 0, 66, 0.9669117647058824) 0%, rgba(233, 0, 157, 0.9332983193277311) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c0042",endColorstr="#e9009d",GradientType=1);
  border-width: 3px;
  border-color: white;
  border-bottom-color: #ff00b8;
  border-right: #ff00b8;
  border-left: #ff00b8;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
  padding: 2vh;
  border-radius: 10vh;
  flex: 1 1 40%;
  max-width: 35%;
  margin: 5px;
}

#btnVerde {
  background: rgb(75, 252, 75);
  background: -moz-linear-gradient(180deg, rgba(75, 252, 75, 0.891281512605042) 0%, rgba(0, 89, 0, 0.8352591036414566) 100%);
  background: -webkit-linear-gradient(180deg, rgba(75, 252, 75, 0.891281512605042) 0%, rgba(0, 89, 0, 0.8352591036414566) 100%);
  background: linear-gradient(180deg, rgba(75, 252, 75, 0.891281512605042) 0%, rgba(0, 89, 0, 0.8352591036414566) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4bfc4b",endColorstr="#005900",GradientType=1);
  border-width: 3px;
  border-color: white;
  border-bottom-style: hidden;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
  padding: 2vh;
  border-radius: 10vh;
  flex: 1 1 40%;
  max-width: 35%;
  margin: 5px;
}

#btnRosso {
  background: rgb(255, 7, 28);
  background: -moz-linear-gradient(180deg, rgba(255, 7, 28, 1) 0%, rgba(89, 0, 3, 0.8184523809523809) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 7, 28, 1) 0%, rgba(89, 0, 3, 0.8184523809523809) 100%);
  background: linear-gradient(180deg, rgba(255, 7, 28, 1) 0%, rgba(89, 0, 3, 0.8184523809523809) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff071c",endColorstr="#590003",GradientType=1);
  border-width: 3px;
  border-color: white;
  border-bottom-style: hidden;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
  padding: 2vh;
  border-radius: 10vh;
  flex: 1 1 40%;
  max-width: 35%;
  margin: 5px;
}

.differentColor {
  color: #c70091;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
}

/* ************************************************************************************RESULTS PAGE***************************************************************************************************** */

.logoResults {
  width: 10em;
  margin-top: 3em;
  padding-bottom: 2.5em;
}

#containerResults {
  text-align: center;
}

#containerResults h1,
#containerResults h3,
#h1Feedback {
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  line-height: 50px;
  text-align: center;
}

#containerResults h1,
#h1Feedback {
  font-size: 60px;
  font-weight: 700;
}

#containerResults h3 {
  font-size: 30px;
}

.chart-container {
  width: 38%;
}

.donut {
  color: white;
  filter: drop-shadow(7px 5px 18px #000000);
}

.chartText {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: 0.3em;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chartLabel {
  font-size: 0.45em;
  font-weight: 700;
  fill: white;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-3.6em);
  -ms-transform: translateY(-3.6em);
  -webkit-transform: translateY(-3.6em);
  transform: translateY(-3.6em);
}

.chartLabel2 {
  font-size: 0.45em;
  font-weight: 700;
  line-height: 1;
  fill: #00ffff;
  text-anchor: middle;
  -moz-transform: translateY(-2.4em);
  -ms-transform: translateY(-2.4em);
  -webkit-transform: translateY(-2.4em);
  transform: translateY(-2.4em);
}

.chartLabel3 {
  font-size: 0.3em;
  font-family: "Inter", sans-serif;
  fill: white;
  font-weight: 200;
  text-anchor: middle;
  -moz-transform: translateY(-1.2em);
  -ms-transform: translateY(-1.2em);
  -webkit-transform: translateY(-1.2em);
  transform: translateY(-1.2em);
}

#mainResult {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

#correctAnswers,
#wrongAnswers {
  padding-top: 15vh;
  width: 30%;
}

.resultLabelTitle,
.resultLabelPercentage,
.resultLabelFraction {
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4.8rem;
  text-align: left;
}

.resultLabelPercentage {
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
}

.resultLabelFraction {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: left;
}

.alignRight {
  text-align: right;
}

#containerButtonFB {
  margin-top: 2rem;
}

.buttonRate {
  cursor: pointer;
}

/* ************************************************************************FEEDBACK PAGE********************************************************************************************************** */

.textFB {
  text-align: center;
  padding-top: 40px;
  font-size: 25px;
  line-height: 40px;
  font-weight: 300;
}

#textFB {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 4em;
}

#ratingStars {
  text-align: center;
  padding-top: 40px;
}

#ratingStars path.hover {
  fill: #00ffff;
  cursor: pointer;
}

#ratingStars path.selected {
  fill: #00ffff;
}

.stella {
  margin-right: 10px;
}

#containerBox,
#sectionRating {
  text-align: center;
}

.commentFB {
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 500px;
  margin-top: 4em;
  border-bottom: 1px solid #c70091;
  padding-bottom: 7px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  outline: none;
}

.buttonFB {
  margin: 60px 0;
  height: 60px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0 5rem;
  border: 2.5px solid white;
  background-color: transparent;
  color: rgb(248, 242, 242);
  cursor: not-allowed;
}

.buttonFBSelected {
  background-color: #00ffff;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  text-align: center;
  padding: 0 5rem;
  box-shadow: 1px 1px 20px #00ffff;
  margin: 60px 0;
}

#resFeedback {
  display: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 7em;
}

#feedbackId {
  font-size: 35px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

#resFeedback a {
  display: inline-block;
  margin-top: 12em;
  text-align: unset;
  line-height: 3.2rem;
  text-decoration: none;
}

#resFeedback a:hover {
  display: inline-block;
  margin-top: 12em;
  text-align: unset;
  line-height: 3.5rem;
  text-decoration: none;
}

/* ********************************************************************************************************************************************************************* */
