
.mainContainer {
    width: 100%;
    height: 100vh;
    background-color: violet;
}

.circleContainer {
    width: 400px;
    height: 400px;
    background-color: #00FFFF;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.semiCircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    opacity: 1;
}

.semiCircle:nth-child(1) {
    background-color: grey;
    z-index: 2;
}
.semiCircle:nth-child(2) {
    background-color: grey;
    z-index: 3;
    /* display: none; */
}
.semiCircle:nth-child(3) {
    background-color: #00FFFF;
    z-index: 4;
 
}
.outermostCircle {
    width: 360px;
    height: 360px;
    background-color: #702B73;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    margin: 20px;
    /* display: none; */
}

.animate .semiCircle:nth-child(1) {
    transform: rotate(180deg);
    transition: 10s linear;
}
.animate .semiCircle:nth-child(2) {
    transform: rotate(360deg);
    transition: 20s linear;
}
.animate .semiCircle:nth-child(3) {
    opacity: 0;
    transition: opacity 0s 10s;
}